<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href ="https://bootswatch.com/5/lux/bootstrap.min.css">
    <title>Problems</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png" />
  </head>
  {%load static%}
  <link rel="stylesheet" href="{%static 'style.css'%}">

  <body>
    <div class=bck>
      <nav>
        <h2 class="logo">JudgeIt</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <button type="submit" class="btn btn-primary">Logout</button>
      </nav>
      <div>
        <h1>Problem List</h1>
        <ul class>
          {% for prob in all_probs %}

          <li><a href="../../compiler/{{prob}}/">{{prob}}</a></li>

          {% endfor %}
        <ul>
      </div>
    </div>
  </body>
</html>